

.ul_list {
  padding: 0;
  padding-top: 10px;
}


li {
  width: 90%;
  height: 40px;
  border: 1px solid #ada8a8;
  list-style: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 7px;
  margin-bottom: 10px;
  background-color: #fff;
  line-height: 40px;
  z-index: 100;
}

span {
  width: 270px;
  display: block;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
